@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  min-width: 1200px;
}

a {
  text-decoration: none;
}


/*.visually_hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}*/

.site_navigation {
  list-style-type: none;
}

.site_navigation a {
  color: #333333;
  font-weight: 700;
}

.site_navigation a:hover,
.site_navigation a:focus {
  color: #81b3d2;
}

.site_navigation a:active {
  color: #cccccc;
}

.features_list {
  list-style-type: none;
}

.features_list {
  text-align: center;
  line-height: 26px;
}

.features_list li:first-child {
  font-size: 21px;
  font-weight: 26px;
  font-weight: 700;
}

.colored {
  background-color: #81b3d2;
  color: #ffffff;
}

.feature_item h3 {
  font-size: 21px;
  font-weight: 700;
}

.find_hotel {
  text-align: center;
}

.find_hotel h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.interested p {
  line-height: 24px;
}

.form_list li {
  list-style: none;
}

.find_hotel button[type="submit"] {
  font: inherit;
  text-transform: uppercase;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  border: none;
  font-weight: 700;
}

.form_list input[type="text"] {
  background-color: #f2f2f2;
  border: none;
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
}

.find_hotel_sedona button[type="submit"]:hover,
.find_hotel_sedona button[type="submit"]:focus {
  background-color: #669ec0;
}

.find_hotel_sedona button[type="submit"]:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.brown_btn {
  font: inherit;
  text-transform: uppercase;
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  border: none;
  height: 85px;
  width: 570px;
}

.brown_btn:hover,
.brown_btn:focus {
  background-color: #604e43;
}

.brown_btn:active {
  background-color: #503e33;
  color: #857871;
}

.footer_social_list {
  list-style-type: none;
}

.find_hotel_sedona {
  background-image: url("../img/map.jpg");
  width: 1200px;
  margin: 0 auto;
}




/*WWWWWWWWWWWw CATALOG WWWWWWWWWWW*/

.site_navigation_current a {
  color: #766357;
}

.intro_catalog {
  background-color: #81b3d2;
}

.choices {
  color: #ffffff;
  background-color: #81b3d2;
  list-style: none;
  font-weight: normal;
}

.checkbox_contents,
.price_per_day {
  color: #ffffff;
  background-color: #81b3d2;
}

.sort_results_by {
  list-style: none;
}

.sort_results_by a {
  font-weight: normal;
  color: #b1b1b1;
  font-style: inherit;
  text-decoration: underline dotted #81b3d2;
}

.sort_results_current a {
  color: #81b3d2;
  text-decoration: none;
}

.sort_results_by a:hover,
.sort_results_by a:focus {
  color: #81b3d2;
}

.sort_results_by a:active {
  color: #333333;
  text-decoration: none;
}

.rent_category,
.price_start {
  font-weight: normal;
}

.more_info {
  background-color: #81b3d2;
  color: #ffffff;
  font-style: inherit;
  font-weight: 700;
}

.more_info:hover,
.more_info:focus {
  background-color: #669ec0
}

.more_info:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.book_it {
  background-color: #766357;
  color: #ffffff;
  font-style: inherit;
  font-weight: 700;
}

.book_it:hover,
.book_it:focus {
  background-color: #604e43;
}

.book_it:active {
  background-color: #503e33;
  color: #857871;
}

.hotels_result_block {
  list-style: none;
}

.hotel_name {
  color: #333333;
}

.hotel_name:hover,
.hotel_name:focus {
  color: #81b3d2;
}

.hotel_name:active {
  color: #c7c7c7;
}

.number_rating {
  color: #666666;
}


/*WWWWWWWWWWWWWW РАЗМЕТКА INDEX WWWWWWWWWWWWWWWWW*/

.site_navigation {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.site_navigation li:not(:nth-of-type(3)) {
  margin-top: 20px;
}

.container {
  width: 1200px
  margin: 0 auto;
}

.intro {
  display: flex; /*без него улетает*/
  margin: 0 auto; 
}

.features_list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.features_list li:first-of-type {
  margin-left: 381px;
  min-width: 443px;
  padding-right: auto;
  margin-bottom: 30px;
}

.features_list li:nth-child(2) {
  margin-left: 354px;
  margin-right: auto;
  width: 490px;
  margin-bottom: 50px;
}

.features_list li:nth-of-type(3) {
  width: 400px;
  min-height: 256px;
}

.features_list li:nth-of-type(4) {
  width: 800px;
  height: 256px;
}

.features_list li:nth-of-type(5) {
  width: 400px;
  min-height: 330px;
}

.features_list li:nth-of-type(6) {
  width: 400px;
  min-height: 330px;
}

.features_list li:nth-of-type(7) {
  width: 400px;
  min-height: 330px;
}

.features_list li:nth-of-type(8) {
  width: 800px;
  min-height: 256px;
}

.features_list li:nth-of-type(9) {
  width: 400px;
  height: 256px;
}

.features_list li:nth-of-type(10) {
  width: 400px;
  min-height: 300px;
  background-color: #eeeeee;
}

.features_list li:nth-of-type(11) {
  width: 400px;
  min-height: 300px;
  background-color: #eeeeee;
}

.features_list li:nth-of-type(12) {
  width: 400px;
  min-height: 300px;
  background-color: #eeeeee;
}

.find_hotel_flex {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}

.interested {
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.interested+p {
  margin: 0 auto;
  width: 445px;
  margin-bottom: 50px;
}

.main_footer {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  margin: 0 auto;
}

/*WWWWWWWWWWWWWW РАЗМЕТКА CATALOG WWWWWWWWWWWWWWWWW*/

.intro_catalog {
  display: flex; /*без него тоже улетает*/
  margin: 0 auto;
}

.wishes {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  background-color: #81b3d2;
}

.checkbox_column1 {
  margin-left: 70px;
}

.checkbox_column2 {
  margin-left: 100px;
}

.checkbox_column3 {
  margin-left: 335px;
}

.sort_results { /*колонка сортировка*/
  display: flex;
  margin: 0 auto;
  width: 1200px;
  height: 120px;  
}

.sort_results h2 {
  margin-left: 75px;
}

.sort_results h3 {
  margin-left: 65px;
}

.sort_results_by {
  display: flex;
}

.sort_results_by li:nth-child(2) {
  margin-left: 35px;
}

.sort_results_by li:nth-child(3) {
  margin-left: 35px;
}

.sort_results_by li:nth-child(4) {
  margin-left: 500px;
}

.results ul { /*блоки отелей, их разделил на 3. 1)фотка 2)инфо и кнопки 3) то что в правом углу*/
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  min-height: 430px;
  margin: 0 auto;
  padding: 0;
}

.hotels_result_block {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin-left: 75px;
}

.hotels_result_block1 {
  width: 140px;
}

.hotels_result_block2 {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  margin-left: 30px;
}


.hotels_result_block3 {
  width: 240px;
  margin-left: 290px;
}


